<footer class="site-footer">
    <div class="container">
        <div class="row widgets">
            <div class="col-xs-6 col-md-3 col-sm-6">
                <h4>网站信息</h4>
                <ul class="list-unstyled">
                    <li><a href="./info.html">我们是谁</a></li>
                    <li><a href="./exhibition.html">展会计划</a></li>
                    <li><a href="./contact.html">加入我们</a></li>
                    <li><a href="./Q&A.html">常见问题</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-3 col-sm-6">
                <h4>相关工具</h4>
                <ul class="list-unstyled">
                    <li><a href="http://www.boc.cn/sourcedb/whpj/">外汇牌价查询</a></li>
                    <li><a href="http://www.worldweather.cn/zh/home.html">世界天气查询</a></li>
                    <li><a href="http://time.123cha.com/">世界时差查询</a></li>
                </ul>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-xs-6 col-md-3 col-sm-6"><h4>联系合作</h4>
                <ul class="list-unstyled">
                    <li class="shy"><a href="mailto:info@ucnexpo.com">邮箱：info@ucnexpo.com</a></li>
                    <li><a href="tel:86-0592-6030835">电话：+86-0592-6030835</a></li>
                    <li><a href="tel:86-18750228962">手机：+86-18750228962</a></li>
                    <li><a href="#">传真：+86-592-6030835</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-3 col-sm-6"><h4>友情链接</h4>
                <ul class="list-unstyled">
                    <li ><a href="#">xxxxxxxxxx</a></li>
                    <li ><a href="#">xxxxxxxxxx</a></li>
                    <li ><a href="#">xxxxxxxxxx</a></li>
                    <li ><a href="#">xxxxxxxxxx</a></li>
                </ul>
            </div>
        </div>
        <div class="row copy">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <img src="./img/logo_2.jpg" title="MVP01" class="center-block">
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 copyright text-center">
                <h5>©2016 UCN EXHIBITION CO.LTD 闽ICP备********号-3</h5>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap Core JS-->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="./js/jquery-1.11.3.min.js"><\/script>')</script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


