<footer class="site-footer">
    <div class="container">
        <div class="row widgets">
            <div class="col-xs-6 col-md-3 col-sm-6">
                <h4>网站信息</h4>
                <ul class="list-unstyled">
                    <li><a href="./info.html">我们是谁</a></li>
                    <li><a href="./exhibition.html">展会计划</a></li>
                    <li><a href="./contact.html">加入我们</a></li>
                    <li><a href="./Q&A.html">常见问题</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-3 col-sm-6">
                <h4>相关工具</h4>
                <ul class="list-unstyled">
                    <li><a href="http://www.boc.cn/sourcedb/whpj/">外汇牌价查询</a></li>
                    <li><a href="http://www.worldweather.cn/zh/home.html">世界天气查询</a></li>
                    <li><a href="http://time.123cha.com/">世界时差查询</a></li>
                </ul>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-xs-6 col-md-3 col-sm-6"><h4>联系合作</h4>
                <ul class="list-unstyled">
                    <li class="shy"><a href="mailto:info@ucnexpo.com">邮箱：info@ucnexpo.com</a></li>
                    <li><a href="tel:86-0592-6030835">电话：+86-0592-6030835</a></li>
                    <li><a href="tel:86-18750228962">手机：+86-18750228962</a></li>
                    <li><a href="#">传真：+86-592-6030835</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-3 col-sm-6"><h4>友情链接</h4>
                <ul class="list-unstyled">
                    <li ><a href="#">xxxxxxxxxx</a></li>
                    <li ><a href="#">xxxxxxxxxx</a></li>
                    <li ><a href="#">xxxxxxxxxx</a></li>
                    <li ><a href="#">xxxxxxxxxx</a></li>
                </ul>
            </div>
        </div>
        <div class="row copy">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <img src="./img/logo_2.jpg" title="MVP01" class="center-block">
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 copyright text-center">
                <h5>©2016 UCN EXHIBITION CO.LTD 闽ICP备16012444号</h5>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap Core JS-->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="./js/jquery-1.11.3.min.js"><\/script>')</script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!--carousel-->
{% if page.nav == 'index' %}
<script src="http://cdn.bootcss.com/hammer.js/2.0.6/hammer.min.js"></script>
<script type="text/javascript" src="./js/jquery.hammer.js"></script>
<script>
    $(document).ready(function () {
        $('#hotCarousel').hammer().on('swipeleft',function () {
            $(this).carousel('next');
        });
        $('#hotCarousel').hammer().on('swiperight', function(){
            $(this).carousel('prev');
        });
        $('#index-carousel').hammer().on('swipeleft',function () {
            $(this).carousel('next');
        });
        $('#index-carousel').hammer().on('swiperight', function(){
            $(this).carousel('prev');
        });
    });
</script>>
<script src="../js/main.js"></script>
{% endif %}


<!--baidu-map-->
<!--index-->
{% if page.nav == 'index' %}

<script type="text/javascript">
    // 百度地图API功能
    var map = new BMap.Map("map", {minZoom: 1, maxZoom: 8}); // 创建Map实例,设置地图允许的最小/大级别
    map.centerAndZoom(new BMap.Point(0, 0), 2);
    map.enableScrollWheelZoom(true);

    // curve between city dot
    var XiamenPosition = new BMap.Point(118.1, 24.4),
            BeijingPosition = new BMap.Point(116.4, 39.9),
            ShanghaiPosition = new BMap.Point(121.3, 31.1),
            TaipeiPosition = new BMap.Point(121.5, 25.1),
            HongkongPosition = new BMap.Point(113.9, 22.9),
            MoscoPosition = new BMap.Point(37.4, 55.5),
            BombayPosition = new BMap.Point(72.5, 18.6),
            RioPosition = new BMap.Point(-43.2, -22.5),
            NewyorkPosition = new BMap.Point(-74.0, 40.43),
            LongdonPosition = new BMap.Point(0.1, 51.3),
            MelbournePosition = new BMap.Point(144.6, -37.5);

    var points = [XiamenPosition, BeijingPosition, ShanghaiPosition, TaipeiPosition, HongkongPosition, MoscoPosition,
            BombayPosition, RioPosition,  LongdonPosition, MelbournePosition];

    var curve = [];

    for (var i = 0, len = points.length; i < len - 1; i++) {
        curve[i] = new BMapLib.CurveLine([points[0], points[i + 1]],
                {strokeColor: "#f7b62b", strokeWeight: 3, strokeOpacity: 0.5});
        map.addOverlay(curve[i]);
    }

</script>

{% endif %}

<!--contact-->

{% if page.nav == 'contact' %}

<script>
    var map = new BMap.Map("map", {minZoom: 12, maxZoom: 24}); // 创建Map实例,设置地图允许的最小/大级别

    var point = new BMap.Point(118.119914, 24.435388);
    map.centerAndZoom(point, 18);
    map.enableScrollWheelZoom(true);

    var marker = new BMap.Marker(point);
    map.addOverlay(marker);
    marker.setAnimation(BMAP_ANIMATION_BOUNCE);
</script>

{% endif %}}


