//media

@mixin min-screen($res) {
    @media only screen and (min-width: $res) {
        @content
    }
}

@mixin max-screen($res) {
    @media only screen and (max-width: $res) {
        @content
    }
}

@include min-screen(768px) {
    .custom-navbar {
        @include vertical-center(15px);
    }
    .carousel-indicators {
        bottom: 20px;
    }
    .row.wrapper {
        .carousel-inner {
            height: 329px;
        }
    }
    div.hot-zone .col-md-2 {
        height: 165px;
    }
    div.world-mp {
        height: 407px;
    }
}

@include min-screen(992px) {
    .row.wrapper {
        .carousel-inner {
            height: 430px;
        }
    }
    div.hot-zone .col-md-2 {
        height: 125px;
    }
    div.world-mp {
        height: 532px;
    }
}

@include min-screen(1200px) {
    .container-my {
        width: 1200px;
    }
    .row.wrapper {
        .carousel-inner {
            height: 521px;
        }
    }
    div.hot-zone .col-md-2 {
        height: 141px;
    }
    div.world-mp {
        height: 645px;
    }
}

@include max-screen(960px) {
    .site-footer {
        h4 {
            margin-top: 20px;
        }
    }
}

@include max-screen(1100px) {
    .custom-navbar-ul li {
        @include horizontal-center(auto, 8px);
    }
}

@include max-screen(1000px) {
    .custom-navbar-ul li {
        @include horizontal-center(auto, 4px);
    }
}

@include max-screen(940px) {
    .custom-navbar-ul li {
        @include horizontal-center(auto, 0px);
    }
}

@include max-screen(880px) {
    .custom-navbar-ul li a {
        font-size: 14px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@include max-screen(835px){
    .hot-zone{
        .span3:first-child, .span3:nth-child(3){
            margin-left: 5.52766%;
        }
        .span3 {
            width: 43%;
        }
    }
}

@include min-screen(768px){
    .custom-navbar-ul {
        .dropdown {
            a.dropdown-toggle{
                color: #777;
            }
            a.dropdown-toggle:hover, a.dropdown-toggle:link, a.dropdown-toggle:visited {
                color: #777;
            }
            .dropdown-menu {
                top: 50px;
                left: 15px;
                @include vertical-center(12px);
                li{
                    padding-top: 8px;
                }
                a, a:link, a:visited {
                    color: #777;
                }
                a:hover {
                    color: $logo-color;
                }
            }
        }
    }
}

@include min-screen(876px) {
    .exhibition-content {
        .table {
            p {
                position: absolute;
                margin: auto;
                top:0; right: 0; bottom: 0; left:0;
                line-height: 98px;
            }
        }
    }
}