//got the mixin library
@import "ea_animation";

//set the variable
$font-family:  Microsoft YaHei, Helvetica, Tahoma, Arial, STXihei, SimSun, Heiti, sans-serif;
$border-color: #e7e7e7;
$logo-color: #f7b62b;
$backgroud-color: #fff;

//mixin style
@mixin vertical-center($vertical-padding:8px) {
  padding: {
    top: $vertical-padding;
    bottom: $vertical-padding;
  }
}

@mixin horizontal-center($horizontal-margin:auto,$horizontal-padding:15px) {
  margin: {
    left: $horizontal-margin;
    right: $horizontal-margin;
  }
  padding: {
    left: $horizontal-padding;
    right: $horizontal-padding;
  }
}

@mixin border($border-radius:0,$border-width:0 0 1px) {
  border: {
    radius: $border-radius;
    width: $border-width;
  }
}

@mixin transition-all($durantion-time:0s) {
  transition: {
    property: all;
    duration: $durantion-time;
    timing-function: initial;
    delay: initial;
  }
}

@mixin transform-origin($position-x,$position-y){
  transform-origin: $position-x $position-y;
  -moz-transform-origin: $position-x $position-y;
  -webkit-transform-origin: $position-x $position-y;
  -ms-transform-origin: $position-x $position-y;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

body {
  font-family: $font-family;
}

.if-need-fix {
  position: fixed;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  outline: 0;
  cursor: pointer;
  color: #787878;
  :link,:visited,:hover{
    text-decoration: none;
  }
  :hover{
    color: #a94442;
  }
}

.btn {
  border: 1px solid #4f8db3;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  text-transform: none;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
  -ms-transition: all .25s ease;
  transition: all .25s ease;
  text-align: center;
  background: none repeat scroll 0 0 #4f8db3;
  text-shadow: none;
  box-shadow: none;
  color: #FFF;
  white-space: nowrap;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.lh1 {
  line-height: 1;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.no-cursor {
  cursor: default !important;
}

@import "nav","content","footer","media";



